.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.u-clearfix {
    *zoom: 1;
}

.subtle {
    color: #aaa;
}

.Acard-container {
    margin: -25px auto 0;
    position: relative;
    width: 750px;
}

.Acard {
    /*background-color: #fff;*/
    padding: 30px;
    position: relative;
    /*box-shadow: 0 0 5px rgba(75, 75, 75, .07);*/
}

.Acard-body {
    display: inline-block;
    /*float: left;*/
    width: 310px;
}

.Acard-number {
    margin-top: 15px;
}

.Acard-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
}

.Acard-author {
    display: block;
    font-size: 12px;
    letter-spacing: .5px;
    margin: 15px 0 0;
    text-transform: uppercase;
}

.Acard-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px 0;
}

.Acard-description {
    display: inline-block;
    font-weight: 300;
    line-height: 22px;
    margin: 10px 0;
}

.Acard-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 5px 0 10px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
}

.Acard-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 50%;
}

.Acard-tag {
    float: right;
    margin: 5px 0 0;
}

.Acard-media {
    /*float: right;*/
    position: absolute;
    margin-left: 3vw;
    width: 22vw;
    height: auto;
}

@media only screen and (max-width: 775px) {
    .Acard-media {
       opacity: 0;
    }
  }